/* DISCIPLINE BLOCKER WIDGET */

.shimari-main-widget {
  position: relative;
  border-radius: 10px;
  border: 1px black solid;
  background-color: #0a0a0a;
  padding: 8px 16px;
  width: 400px;
          animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
     -moz-animation: fadeIn 1s;
       -o-animation: fadeIn 1s;
      -ms-animation: fadeIn 1s;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.shimari-message {
  color: white;
  margin: 0;
  text-align: center;
}

.shimari-flex {
  display: flex;
  justify-content: space-around;
  margin: 0 18px;
  align-items: center;
  max-width: 175px;
}

.shimari-refresh-link {
  position: absolute;
  right: 3px;
  top: -2px;
}

.shimari-refresh-image {
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin-top: 5px;
}

.shimari-widget-logo {
  width: 95px;
  cursor: pointer;
  margin-left: 10px;
}

.shimari-link {
  color: #ffd697 !important;
  text-decoration: underline;
}

.shimari-flame-image {
  width: 25px;
  height: 47px;
  cursor: pointer;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* STONE FLYING */

.moving-stone {
  z-index: 999;
  --scale-x: 0;
  --scale-y: 0;
  pointer-events: none;
  display: block;
  position: absolute;
  bottom: 0;
  left: calc(50% - 1rem);
  border-radius: 50%;
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transform:
    translate(
      calc( var(--x) * 1px ),
      calc( var(--y) * 1px )
    )
    translate(-50%, -50%);
  transform:
    translate(
      calc( var(--x) * 1px ),
      calc( var(--y) * 1px )
    )
    translate(-50%, -50%);

  pointer-events: none;
  -webkit-animation:
    stone-enter 0.05s ease-in backwards,
    stone-exit 500ms linear calc( (var(--lifetime, 3000) * 1ms) - 300ms) forwards;
  animation:
    stone-enter 0.05s ease-in backwards,
    stone-exit 500ms linear calc( (var(--lifetime, 3000) * 1ms) - 300ms) forwards;


  @keyframes stone-enter {
    from {
      opacity: 0;
    }
  }
  @keyframes stone-exit {
    to {
      opacity: 0;
    }
  }

  .inner {
    -webkit-animation: inner-rotate 1.3s linear infinite;
    animation: inner-rotate 1.3s linear infinite;
    -webkit-transform: rotate(
      calc(-1turn * var(--direction) )
    );
    transform: rotate(
      calc(-1turn * var(--direction) )
    );

    @-webkit-keyframes inner-rotate {
      to {
        transform: none;
      }
    }
    @keyframes inner-rotate {
      to {
        transform: none;
      }
    }
    -webkit-filter: none;
    filter: none;
  }
}

.stone-3 {
  width: 30px;
  height: 30px;
}

.stone-4 {
  width: 40px;
  height: 40px;
}

.stone-5 {
  width: 50px;
  height: 50px;
}

.shimari-animation-overlay {
  display: block;
  -webkit-filter: none;
  filter: none;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 99999;
}

/* Congrats to winner */

.accolade-text {
  font-family: Optima, sans-serif;
  z-index: 99999;
  pointer-events: none;
  display: block;
  position: absolute;
  bottom: calc(50%);
  left: calc(40%);
  -webkit-animation: accoladescale 4s ease-in forwards;
     -moz-animation: accoladescale 4s ease-in forwards;
          animation: accoladescale 4s ease-in forwards;
  background: rgba(0,0,0,0);
  font-weight: 600;
}

.b-accolade {
  text-shadow: #000 1px 1px 10px;
  color: #fcd395;
}

.w-accolade {
  text-shadow: #000 1px 0 10px;
  color: white;
}

@-moz-keyframes accoladescale {
  0% {
    -moz-transform: scale(0);
    opacity: 75;
  }
  25% {
    -moz-transform: scale(3);
    opacity: 100;
  }
  35% {
    -moz-transform: scale(3);
    opacity: 100;
  }
  100% {
    -moz-transform: scale(8);
    opacity: 0;
  }
}

@-webkit-keyframes accoladescale {
  0% {
    -webkit-transform: scale(0);
    opacity: 75;
  }
  25% {
    -webkit-transform: scale(3);
    opacity: 100;
  }
  35% {
    -webkit-transform: scale(3);
    opacity: 100;
  }
  100% {
    -webkit-transform: scale(8);
    opacity: 0;
  }
}

@keyframes accoladescale {
  0% {
    transform: scale(0);
    opacity: 75;
  }
  25% {
    transform: scale(3);
    opacity: 100;
  }
  35% {
    transform: scale(3.2);
    opacity: 100;
  }
  100% {
    transform: scale(8);
    opacity: 0;
  }
}

/* for detecting scroll hover */
.Goban:hover {
  opacity: 1;
}

body {
  overscroll-behavior-y: none;
}

/* Review Now Button */

/* override the OGS styles */
.analyze-mode-buttons {
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
}

.review-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 110px;
  height: 60px;
  border-radius: 45px;
  border: 1px black solid;
  background-color: #0a0a0a;
  padding: 4px 25px;
  margin: 5px 20px 5px 0;
          animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
     -moz-animation: fadeIn 1s;
       -o-animation: fadeIn 1s;
      -ms-animation: fadeIn 1s;
}

.review-image-logo {
  width: 95px;
  cursor: pointer;
}

.review-text-link {
  color: white !important;
  text-decoration: underline;
}

/* In-game highlight icon strip */

.highlight-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 250px;
  height: 75px;
  border-radius: 12px;
/*  border: 1px black solid;*/
  background-color: #0a0a0a;
  padding: 4px 25px;
  margin: 10px auto;
          animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
     -moz-animation: fadeIn 1s;
       -o-animation: fadeIn 1s;
      -ms-animation: fadeIn 1s;
  box-shadow: inset 10px 10px 10px rgba(26, 26, 26, 0.5);
}

.highlight-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.highlight-span {
  font-size: 0.9rem;
  font-weight: 400;
}

.ingame-image-logo {
  width: 70px;
  padding-bottom: 4px;
}

.highlight-button {
  background-color: black;
  border-radius: 10px;
  border: 1px white solid;
  color: white;
  padding: 3px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.1em;
}

.highlight-button:hover {
  box-shadow: inset 0px 0px 20px 0px rgba(255,255,255,0.3);
}

.highlight-button:active, .highlight-button:focus {
  outline: none !important;
  border: 1px solid $cherry-goban-h;
  background: #191919;
}

.hot-button {
  background: #191919;
}

.temporarily-unclickable {
  pointer-events: none;
}